---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<WEATHER_API_ACCESS_ID>&q=Berlin,DE&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":310,"main":"Drizzle","description":"light
        intensity drizzle rain","icon":"09d"}],"base":"stations","main":{"temp":17,"pressure":1001,"humidity":93,"temp_min":17,"temp_max":17},"visibility":5000,"wind":{"speed":4.6,"deg":330},"clouds":{"all":75},"dt":1501068000,"sys":{"type":1,"id":4892,"message":0.0558,"country":"DE","sunrise":1501039060,"sunset":1501096026},"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Wed, 26 Jul 2017 11:59:41 GMT
recorded_with: VCR 3.0.3
